:root{
    --color1: #d89584;
    --color2: #f4f4f4;
    --color3: #979797;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

iframe{
    width: 100%;
    border: none;
    height: 350px;
}

div.cover{
    background: url(PHOTO-SITE-ASTRO/overlay.webp) no-repeat center/100% 100% ,url(PHOTO-SITE-ASTRO/cover.webp) no-repeat center/cover;
    height: 400px;
    position: relative;
}

img.cover-profile{
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;
    box-sizing: border-box;
    border-radius: 50%;
}

h1{
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 0;
}

div.cover p{
    color: darkgrey;
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
    
}

div.cover-contact{
    background-color: #ff000080;
    position: absolute;
    top: 15px;
    left: 20px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
}

div.cover-contact p{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;

}

div.cover-contact p:first-child{
    margin-bottom: 14px;
}

div.cover-contact a{
    color: white;
    font-size: 14px;
    ;
}

div.me-contacter{
    position: absolute;
    left: 50%;
    border: 5px solid var(--color1);
    padding: 10px;
    background-color: #00000080;
    font-size: 16px;
}

a.contact-button{
    color: var(--color1);
    border: 3px solid var(--color1);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

a.contact-button:hover{
    color: white;
    border: 3px solid white;
}

.section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

div.section-grise1{
    background: url(PHOTO-SITE-ASTRO/triangle2white.svg) no-repeat center bottom/100%;
    background-color: var(--color2);
    padding-bottom: 150px;
}

div.separateur{
    background-color: var(--color3);
    height: 1px;
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
}

div.section-grise1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #656565;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}






div.section-grise2{
    background: url(PHOTO-SITE-ASTRO/triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);
    padding-top: 125px;
}

h2{
    text-align: center;
    font-size: 34px;
    margin: 0;
    padding: 50px;

}

.col40{
    width: 40%;
}
.col50{
    width: 50%;
}

.col60{
    width: 60%;
}
.float-right{
    float: right;
}


div.texte-ligne-vertical{
    margin-top: 0;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}

div.texte-ligne-vertical p{
    margin-top: 0;
}

div.barre-vertical{
    width: 4px;
    height: 50px;
    background-color: var(--color1);
    margin-right: 8px;
}

table.col-portfolio{
    width: 47%;
}

div.frame{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 30px;
    box-shadow: 0px 0px 10px 10px #00000010;
    
}

div.frame img{
    width: 100px;
    box-sizing:
    border-box; border-radius: 50%;
}

div.frame h3{
    font: size 30px;
    text-align: center ;
    margin: 5px 20px 5px 5px;
}

table.frame{
width: 100%;
text-align: center;
}

table.frame td{
    vertical-align: top;
}



/* portfolio */

.portfolio-header{
    height: 90px;
    background: url(PHOTO-SITE-ASTRO/cover-2.webp) no-repeat center/cover;
    position: relative;
    
}

.portfolio-header p{
    color:#f4f4f4;
    font-size: 26px;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 8px;
}


.portfolio h1{
    color: black;
    font-size: 46px;
    line-height: 1;
    padding-top: 10px;
}

.portfolio h2{
    font-size: 26px;
    font-weight: normal;
    padding-top: 10px;
    margin-bottom: 0px;
}

div.galerie{
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: rgb(0, 0, 0);
}


div.galerie img{
    width: 25%;
    padding: 10px;
    margin: 15px 0px;
    vertical-align: top;
    transform: .1s;
    background-color: #d89584;
}

div.galerie video{
    width: 25%;
    padding: 10px;
    margin: 15px 0px;
    vertical-align: top;
    background-color: #d89584;
}


.galerie h1{
    color: black;
    background-color: white;
    margin: 0px;
    padding: 10px;
}

.galerie img:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.gal-prin1{
    display: inline-block;
    width: 45%;
}
.gal-prin2{
    width: 45%;
    float: right;
}

.gal-prin2 img{
    width: 70%;
}



@media only screen and (max-width: 767px) {

    img.cover-profile{
        height: 90px;
        margin-top: 75px;
    }
    
    h1{
        font-size: 38px;
        margin-top: 6px;
        margin-bottom: 0;
    }
    
    div.cover p{
        margin-top: 2px;
        font-size: 13px;
        
    }
    
    .section{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    div.section-grise1{
        padding-bottom: 40px;
    }
  

    h2{
        font-size: 30px;
    }

    .col40{
        width: 100%;
    }
    
    .col60{
        width: 100%;
    }

    table.col-portfolio{
        width: 100%;
        margin-bottom: 20px;
    }

    .gal-prin{
        display: block;
        width: 100%;
    }

    div.frame{
        margin: 0;
        padding: 0;
    }

    div.frame img{
        width: 70px;
    }

    iframe{
        height: 350px;
    }

    .portfolio-header p{
        font-size: 20px;
        padding-left: 0px;
    }

    a.contact-button{
        padding: 7px 15px;
        font-size: 12px;
        margin-top: 5px;
    }

    div.galerie{
        width: 90%;
    }
    
    div.galerie img{
        width: 90%;
        display: inline;
        margin-left: 25px
    }

    .gal-prin2 img{
        width: 100%;
    }
    
    div.galerie video{
        width: 75%;
        padding: 10px;
        margin: 15px 0px;
        vertical-align: top;
    }



    
}